@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

$grayblack: #0f0f0f;
$graywhite: #4d4d4d;
$white:#fff;